asterisk-ami==0.1.7
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.8
Flask==3.0.0
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
greenlet==3.5.0
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.31.0
gTTS==2.5.4
SQLAlchemy==2.0.25
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.8
pytest==8.3.3
flask_jwt_extended
flask_sqlalchemy
